@import url('https://fonts.google.com/share?selection.family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900');

:root {
  --color-primary: #ddcbdd;
  --color-secondary: #faf5f590;
  --color-text: #484747;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-primary);
  background-image: url('/cinema_js/public/3d-cinema-film-reel-with-popcorn.png');
  min-width: 320px;
  min-height: 100vh;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: var(--color-secondary);
}

.search, .select {
  margin-left: 1rem;
  background-color: transparent;
  border: 2px solid var(--color-primary);
  border-radius: 50px;
  padding: 0.5rem 1rem;
  font-size: 1rem;

}

.search:focus {
  outline: none;
  border-color: #8f45c8;
  box-shadow: 0 0 5px 2px rgba(143, 69, 200, 0.2);
}

.search::placeholder {
  color: var(--color-text);
}

main {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie {
  width: 320px;
  margin: 1rem;
  background-color: var(--color-secondary);
  box-shadow: 0 4px 5px rgba(143, 69, 200, 0.2);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
  transform: perspective(1000px) rotateY(0deg);
}

.movie img {
  width: 100%;
  height: 75%;
}

.movie:hover {
  transform: perspective(1000px) rotateY(-10deg);
}

.movie_info {
  color: #6f6d6d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  letter-spacing: 0.5px;
}

.movie h2 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #6f6d6d;
  padding: 10px;

}

.green {
  color: #4ea14c;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

.yellow {
  color: #cba85a;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

.red {
  color: #c44336;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

.movie__button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: var(--color-primary);
  padding: 10px;
  border-radius: 10%;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.movie__button:hover {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.movie__button:focus {
  outline: none;
}

.main__card-window {
  display: flex;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  overflow-y: auto;
  font-size: 16px;
  z-index: 999;
}

.main__window-wrapper {
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  color: var(--color-text);
  max-width: 800px;
  position: relative;
  /* padding: 0 20px; */
}

.main__window-poster img {
  width: 360px;
  height: 540px;
  border-radius: 20px;
}

.main__card-name {
  font-size: 44px;
  margin-bottom: 10px;
}

.main__window-parameters {
  line-height: 1.7;
  width: 330px;
  font-size: 16px;
  margin-bottom: 20px;

}

.main__description {
  font-size: 16px;
  text-align: justify;
  line-height: 1.7;
  margin-top: 20px;
  width: 350px;
}

.main__window-close {
  position: absolute;
  top: 20px;
  right: -30px;
  cursor: pointer;
}

.main__window-close:hover {
  fill: #8f45c8;

}